<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Recipe Wala !!</h1>
    <p class="lead">One Stop Destination For All Foodies</p>
    <i class="fa fa-cutlery" style="font-size: xx-large"></i>
  </div>
</header>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->

<div class="search-moment-container">
  <figure class="main">
   <!-- <img src="http://photos.epicurious.com/2015/01/07/54adbb756529d92b2c0495d2_26-ClamsMussels.jpg" /> -->
    <img src="assets/images/front-page-image.jpg" />
  </figure>
  <div class="search-moment light">
    <h2>I am hungry for ....</h2>
    <form name="search-moment-form" action="/tools/searchresults" method="get">
      <fieldset>
        <div class="autocomplete-container">
          <input type="text" name="search" autocomplete="off" />
          <button type="submit">
            <i class="fa fa-search" style="color: #ffffff"></i>
          </button>
        </div>
      </fieldset>

    </form>
    <button class="inspired"><div>Highlights</div></button>
    </div>
  </div>

<footer class="footer">
  <div class="container">
      <p><i class="fa fa-copyright"></i> kajjoyworks |
        <a href="https://twitter.com/dipayan90">@dipayan90</a> |
         <a href='https://github.com/dipayan90/recipieApp/issues'>Issues</a></p>
  </div>
</footer>
