<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Recipe Wala !!</h1>
    <p class="lead">One Stop Destination For All Foodies</p>
    <i class="fa fa-cutlery" style="font-size: xx-large"></i>
  </div>
</header>

<div class="search-moment-container">
  <figure class="main">
   <!-- <img src="http://photos.epicurious.com/2015/01/07/54adbb756529d92b2c0495d2_26-ClamsMussels.jpg" /> -->
    <img src="assets/images/front-page-image.jpg" />
  </figure>
  <div class="search-moment light">
    <h2>I am hungry for ....</h2>
    <form name="search-moment-form">
      <fieldset>
        <div class="autocomplete-container">
          <input type="text" name="search" autocomplete="off" ng-model="searchText" placeholder="Search Recipe Here"/>
          <button type="submit" ng-click="searchQuery(searchText)">
            <i class="fa fa-search" style="color: #ffffff"></i>
          </button>
        </div>
      </fieldset>

    </form>
    <button class="inspired"><div>Highlights</div></button>
    </div>
  </div>

<footer class="footer">
  <div class="container">
      <p><i class="fa fa-copyright"></i> kajjoyworks |
        <a href="https://twitter.com/dipayan90">@dipayan90</a> |
         <a href='https://github.com/dipayan90/recipieApp/issues'>Issues</a></p>
  </div>
</footer>
